.header{
  font-family: arial;
  font-size: 100px;
  color: #1b1717;
}
.foto{
  border-radius: 8px;
  width: 400px;
}
.pr{
  font-size: 30px;
  font-family: helvetica;
  color: #3c415c;
}

#nama{
  font-weight: 700;
}

.unline{
  text-align: left;
}

#one{
  background-color: #2b2e4a;
  padding: 10px 150px 0px 150px;
}

#two{
  background-color: #e84545;
  padding: 10px 150px 0px 150px;
}

#three{
  background-color: #903749;
  padding: 10px 150px 0px 150px;
}
